body {
    background-image: url(stars.jpg);
  }

  #wrapper {
    margin: 24px auto 0 auto;
    width: 1200px;
    border: 1px solid black;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    padding-bottom: 0px;
   
  }


  .floatimg2 {
    float: left;
    height: 100px;
    position: relative;
    left: 150px;
  }

  
  h1 {
    color: white;
    text-align: center;
    grid-column: span 12;
  }

 
  nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Righteous', cursive;
  
  }
  
  nav li {
  width: 150px;
  margin: 50px;
  background-color: hsl(283, 72%, 75%);
  background-image: url(star1.png);
  background-position-x: 10px ;
  border-radius: 15px;
  }
  
  nav li a {
    text-decoration: none;
    display: block;
    padding: 30px;
    text-align: center;
    color: white;
    border-radius: 15px;
    
  }
  
  nav li a:hover {
    background-color: hsl(283, 60%, 60%);
    text-decoration: none;
    color: white;
    transition: background-color .5s, width 2.0s, color 2.0s;
    border-radius: 15px;
  }

  .active {
    background-color: hsl(283, 54%, 37%);
    
  }

  nav {
    grid-column: span 2;
    position: relative;
    left: 80px;
  }

  .paragraph1 {
    background-color: hsl(283, 72%, 75%);
      color: white;
      padding: 10px;
      margin: 10px;
      grid-column: span 6;
      font-family: 'Karla', sans-serif;
      text-align: justify;
  }


footer {
    grid-column: span 12;
    background-color: hsl(283, 72%, 75%);
    color: white;
    padding: 20px;
    margin: 20px 20px 0px 20px;
    margin-top: 20px;
    position: relative;
    bottom: 10px;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}

footer a {
  color: darkorchid;
  font-size: 35px;
  position: relative;
  left: 30px;
  top: 5px;
  
}

footer a:hover {
  transition: background-color .5s, width 2.0s, color 1.0s;
  color: purple;
}