body {
    background-color: #999999;
    background-image: url(stars.jpg);
    
  }
  
  #wrapper {
    margin: 1em auto;
    width: 960px;
    border: 3px solid black;
    padding: 1em;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
  }

  .floatimg2 {
    float: left;
    height: 100px;
    position: relative;
    right: 150px;
    bottom: 20px;
  
  }

  body {
    background-color: #999999;
    background-image: url(stars.jpg);
    
  }

  footer {
    grid-column: span 12;
    background-color: hsl(283, 72%, 75%);
    color: white;
    padding: 20px;
    margin: 20px 20px 0px 20px;
    margin-top: 20px;
    position: relative;
   bottom: 5px;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}

  

.fiction {

  position: relative;
  padding: 10px;
  margin: 20px;
  grid-column: span 4;
  color: white;
  font-family: 'Karla', sans-serif;
 
}

.fiction p {
  background-color: hsl(283, 66%, 18%);
  padding: 20px;
  position: relative;
  right: 30px;

}

.sky {
  position: relative;
  padding: 10px;
  margin: 20px;
  grid-column: span 3;
  color: white;
  font-family: 'Karla', sans-serif;
}

.sky p {
  background-color: hsl(283, 66%, 18%);
  padding: 30px;
  position: relative;
  left: 10px;

}


nav {
  grid-column: span 2;
  position: relative;
  left: 150px;

}
.lightning {
  position: relative;
  padding: 10px;
  margin: 10px;
  grid-column: span 3;
  color: white;
  position: relative;
 left: 50px;
  font-family: 'Karla', sans-serif;
}

.lightning p {
  background-color: hsl(283, 66%, 18%);
  padding: 30px;
  position: relative;
  left: 50px;
 
}


  
  h1 {
    text-align: center;
    color: white;
    position: relative;
    bottom: 10px;
    grid-column: span 12;
  }
  

  nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Righteous', cursive;
  
  }
  
  nav li {
  width: 150px;
  margin: 50px;
  background-color: hsl(283, 72%, 75%);
  background-image: url(star1.png);
  background-position-x: 10px ;
  border-radius: 15px;
  }
  
  nav li a {
    text-decoration: none;
    display: block;
    padding: 30px;
    text-align: center;
    color: white;
    transition: background-color .5s, width 2.0s, color 2.0s;
    border-radius: 15px;
  }
  
  nav li a:hover {
    background-color: hsl(283, 60%, 60%);
    text-decoration: none;
    color: white;
    border-radius: 15px;
  }

  .active {
    background-color: hsl(283, 54%, 37%);
    
  }
 

  footer a {
    color: darkorchid;
    font-size: 35px;
    position: relative;
    left: 30px;
    top: 5px;
    
  }
  
  footer a:hover {
    transition: background-color .5s, width 2.0s, color 1.0s;
    color: purple;
  }